.typewriter h1 {
    overflow: hidden;
    border-right: .15em solid white;
    white-space: nowrap;
    margin: 0 auto;
    letter-spacing: .15em;
    font-family: monospace;
    color: white;
    animation: typing 3.5s steps(35, end), blink-caret .75s step-end infinite;
}

p{
    color: white;
}

h3{
    color: white;
}

@keyframes typing {
    from {
        width: 0
    }

    to {
        width: 100%
    }
}

@keyframes blink-caret {
    from, to {
        border-color: transparent
    }

    50% {
        border-color: white;
    }
}

.social-menu{
    display: flex;
    list-style-type: none;
    place-content: left;
    margin: 30px 0px 0px -42px;
}

.social-menu i{
    color: #fff;
    width: 40px;
    height: 40px; 
    border-radius: 50%; 
    font-size: 25px;
    margin-right: 10px;
    transition: all 0.2s ease-in-out;
    display: flex;
    justify-content: center;
}

.social-menu i:before{
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
}

.social-menu a{
    text-decoration: none;
}

.social-menu i:hover{
    /* opacity: .7;*/
    filter: brightness(120%);
    border-radius: 0;
}

.fa-twitter {
    border: 1px solid #aaaaaa;
    background: #55ACEE;
    color: white;
}

.fa-linkedin {
    border: 1px solid #aaaaaa;
    background: #007bb5;
    color: white;
}

.fa-youtube {
    border: 1px solid #aaaaaa;
    background: #bb0000;
    color: white;
}

.fa-instagram {
    /* Gonna be honest, just pulled this from a website but this beautiful line makes the gradient on instagrams app icon background. */
    background: radial-gradient(circle farthest-corner at 35% 90%, #fec564, transparent 50%), radial-gradient(circle farthest-corner at 0 140%, #fec564, transparent 50%), radial-gradient(ellipse farthest-corner at 0 -25%, #5258cf, transparent 50%), radial-gradient(ellipse farthest-corner at 20% -50%, #5258cf, transparent 50%), radial-gradient(ellipse farthest-corner at 100% 0, #893dc2, transparent 50%), radial-gradient(ellipse farthest-corner at 60% -20%, #893dc2, transparent 50%), radial-gradient(ellipse farthest-corner at 100% 100%, #d9317a, transparent), linear-gradient(#6559ca, #bc318f 30%, #e33f5f 50%, #f77638 70%, #fec66d 100%);
    border: 1px solid #aaaaaa;
    color: white;
}

.fa-github {
    border: 1px solid #aaaaaa;
    background: #000000;
    color: white;
}

@import url(https://fonts.googleapis.com/css?family=Lato:300,400,700);

body {
    background: #202020;
    color: #fff;
    font-weight: 400;
    font-size: 1em;
    font-family: 'Lato', Arial, sans-serif;
    margin: 0;
    padding: 0;
    padding-bottom: 60px;
}

.ccheader {
    margin: 0 auto;
    padding: 2em;
    text-align: center;
}

    .ccheader h1 {
        margin: 0;
        font-weight: 300;
        font-size: 2.5em;
        line-height: 1.3;
    }

.ccheader {
    margin: 0 auto;
    padding: 2em;
    text-align: center;
}

    .ccheader h1 {
        margin: 0;
        font-weight: 300;
        font-size: 2.5em;
        line-height: 1.3;
    }

/* Form CSS*/
.ccform {
    margin: 0 auto;
    width: 800px;
}

.ccfield-prepend {
    margin-bottom: 10px;
    width: 100%;
}

.ccform-addon {
    color: #C3B1E1;
    float: left;
    padding: 8px;
    width: 8%;
    background: #303030;
    text-align: center;
}

.ccformfield {
    color: #ffffff;
    background: #303030;
    border: none;
    padding: 15.5px;
    width: 91.9%;
    display: block;
    font-family: 'Lato',Arial,sans-serif;
    font-size: 14px;
}

.ccformfield {
    font-family: 'Lato',Arial,sans-serif;
}

.ccbtn {
    display: block;
    border: none;
    background: #C3B1E1;
    color: #FFFFFF;
    padding: 12px 25px;
    cursor: pointer;
    text-decoration: none;
    font-weight: bold;
}

    .ccbtn:hover {
        background: #856cad;
    }

.credit {
    color: #fff;
    width: 800px;
    clear: both;
    margin: 0 auto;
    line-height: 25px;
    padding: 25px 50px;
}

    .credit em {
        margin-right: 5px;
    }

    .credit a {
        color: #0d2ed5;
        font-weight: bold;
        text-decoration: none;
    }

