@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<head>
    <link rel="stylesheet" href="~/css/index.css" />
</head>

<body>
    <!-- Top section, About Me -->
    <div class="container">
        <div class="text-md-center">
            <div class="typewriter"><h1>Hello, my name is Dillon!</h1></div>
        </div>
        <hr/>
        <div class="align-content-center jumbotron">
            <div class="row">
                <div class="col-4">
                    <div class="text-center">
                            <img src="~/img/profilepic.PNG" class="rounded" style="padding: 0px 20px 0px 10px" alt="Dillon's picture" width="350" height="350" />
                    </div>
                </div>
                <div class="col" style="padding: 0px 20px 0px 20px">
                    <h3>About Me!</h3>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. In ac vulputate turpis. Etiam finibus, risus sit amet euismod accumsan, lorem orci dapibus libero, 
                        at congue est sem eget lectus. 
                    </p>
                    <p>
                        Vestibulum varius est at tempus vehicula. Cras consectetur dui id elit semper luctus. Donec vel sodales nunc. Nunc placerat condimentum ante, at suscipit 
                        velit pharetra sit amet.
                    </p>
                    <p>
                        Donec vehicula, nisl in pharetra sodales, justo purus elementum magna, non congue felis quam ac tellus. Vivamus placerat justo et lectus sollicitudin luctus. 
                        Integer neque dui, feugiat vitae ligula ac, pharetra malesuada lorem. Quisque ultrices a mi id auctor. Phasellus ac egestas mi. Curabitur massa sem, pretium 
                        nec aliquet eu, dapibus in magna. Morbi sed diam fringilla, lobortis nisl at, blandit leo.
                    </p>
                </div>
            </div>
        </div>
    </div>


</body>